<html>
	<head>
		<meta charset="UTF-8">
		<title> Login </title>	
	</head>
    <div>
        <h1>
            Login
        </h1>
    </div>
    <div>
        <form action="{{ url_for('login')}}" method="post" autocomplete="off">
            <div class="msg">{{ msg }}</div>
            <input type="text" name="username" placeholder="Enter Your Username" id="username" required><br></br>
            <input type="password" name="password" placeholder="Enter Your Password" id="password" required></br></br>
            <input type="submit" value="Login">
        </form>
        <p>New to this page? <a href="{{url_for('register')}}">Register here</a></p>
    </div>
</html>